.main{
    box-shadow: 0px 0px 30px 15px rgba(78, 160, 136, 0.5);
    margin-top: 7vh;
    border-radius: 30px;
    padding:5%;
    width: clamp(100px, 80vw, 1800px);
    height: clamp(200px, fit-content, 1200px);
    box-sizing: border-box;
    text-align: center;
    margin:auto;
    margin-top: 7%;
    margin-bottom: 2%;
}

.image{
    max-width: 100%;
    border:1px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 5px rgba(78, 160, 136, 0.5);
}

.description{
    font-size: 2rem;
    border: 2px solid black;
    border-radius: 5px;
    padding:1em;
    max-width: 80%;
    text-align: center;
    margin: auto;
}