nav{
    position:fixed;
    top:0px;
    left:0px;
    width: 100vw;
    height:10vh;
    background-color: rgb(138, 138, 196);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    box-sizing: border-box;
}
.navItem{
    text-align: center;
    color:white;
    height: 100%;
    transition-duration: 0.25s;
    line-height: 10vh;
}
.navItem:hover{
    background-color: black;
}