.post{
    display: grid; 
    grid-template-columns: 1fr 6fr; 
    grid-template-rows: 1fr 2fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "title title"
    "image desc"
    "price price"; 
    border: 1px solid black;
    height: 30vh;

    margin-top:5vh;

    padding:1%;
}

.image {
    grid-area: image;
    width: 200px;
    height: 200px;
}

.title {
    grid-area: title;
    font-size: 2rem;
    text-align: left;
}

.desc {
    grid-area: desc;
    text-align: left;
    padding-left: 2%;
    font-size:1.5rem
}

.price {
    grid-area: price;
    font-size: 2rem;
    text-align: left;
}